.DS_Store
*.py[oc]
wheels/
*.egg-info
.venv
.tauri
__pycache__/
*.pyc
*.egg-info/
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
dist/
build/

*.db
*.db-wal
*.db-shm

node_modules/
target/
*.tsbuildinfo
gui/src-tauri/gen/
gui/src-tauri/WixTools/
